In [18]:
import pandas as pd

df = pd.read_csv("dataexport_20251003T112456.csv", sep=",")

print(df.head())

   location      Basilea            Basilea.1            Basilea.2  Basilea.3  \
0       lat     47.75000             47.75000             47.75000   47.75000
1       lon      7.50000              7.50000              7.50000    7.50000
2       asl      363.653              363.653              363.653    363.653
3  variable  Temperature  Growing Degree Days  Precipitation Total  Wind Gust
4      unit           °C                 GDDc                   mm       km/h

          Basilea.4           Basilea.5        Basilea.6          Basilea.7  \
0          47.75000            47.75000         47.75000           47.75000
1           7.50000             7.50000          7.50000            7.50000
2           363.653             363.653          363.653            363.653
3  Cloud Cover High  Cloud Cover Medium  Cloud Cover Low  Sunshine Duration
4                 %                   %                %                min

             Basilea.8                Basilea.9
0             47.75000                 47.75000
1              7.50000                  7.50000
2              363.653                  363.653
3  Shortwave Radiation  Mean Sea Level Pressure
4                 W/m²                      hPa

In [19]:
# quito las primeras 3 filas que no contienen datos relevantes
df = df.iloc[3:]
 
# renombro las columnas con fila 4
df.columns = df.iloc[0]

df = df[7:]

df

3,variable,Temperature,Growing Degree Days,Precipitation Total,Wind Gust,Cloud Cover High,Cloud Cover Medium,Cloud Cover Low,Sunshine Duration,Shortwave Radiation,Mean Sea Level Pressure
10,20240418T0100,4.5802455,0.0,0.5,13.679999,38.0,98.0,83.0,0.0,0.0,1014.2
11,20240418T0200,4.0002456,0.0,0.7,12.599999,29.0,95.0,44.0,0.0,0.0,1014.5
12,20240418T0300,3.3802452,0.0,0.7,12.959999,13.0,81.0,73.0,0.0,0.0,1014.5
13,20240418T0400,3.1702452,0.0,0.4,12.24,12.0,77.0,77.0,0.0,0.0,1014.6
14,20240418T0500,3.1102452,0.0,0.2,11.879999,17.0,82.0,79.0,4.6277776,2.0,1015.3
...,...,...,...,...,...,...,...,...,...,...,...
12628,20250925T1900,11.280245,0.053343534,0.0,5.04,100.0,93.0,15.0,0.0,0.0,1019.9
12629,20250925T2000,11.460245,0.060843546,0.1,4.32,100.0,99.0,8.0,0.0,0.0,1020.2
12630,20250925T2100,10.990245,0.0412602,0.0,4.32,100.0,95.0,0.0,0.0,0.0,1020.2
12631,20250925T2200,10.070246,0.0029269059,0.0,6.12,100.0,96.0,4.0,0.0,0.0,1020.2
12632,20250925T2300,9.620245,0.0,0.0,7.2,98.0,94.0,10.0,0.0,0.0,1020.2

In [ ]:

# 2️⃣ Convertir timestamp a datetime
df["variable"] = pd.to_datetime(df["variable"], errors="coerce")

# 3️⃣ Eliminar filas sin timestamp válido
df = df.dropna(subset=["variable"])

# 4️⃣ Extraer la fecha (sin hora)
df["fecha"] = df["variable"].dt.date

# 5️⃣ Convertir todas las columnas posibles a numéricas (ignorando errores)
for col in df.columns:
    if col not in ["variable", "fecha"]:
        df[col] = pd.to_numeric(df[col], errors="coerce")

# 6️⃣ Calcular estadísticas diarias
df_diario = df.groupby("fecha").agg(['mean', 'min', 'max'])

# 7️⃣ Aplanar el multi-índice de columnas (para que los nombres sean simples)
df_diario.columns = [f"{col}_{stat}" for col, stat in df_diario.columns]

# 8️⃣ Resetear el índice para que 'fecha' sea una columna normal
df_diario = df_diario.reset_index()

# 9️⃣ Guardar el nuevo CSV con medias, mínimos y máximos diarios
#df_diario.to_csv("datos_diarios_completos.csv", index=False)

print("✅ Archivo 'datos_diarios_completos.csv' creado correctamente con medias, mínimos y máximos.")
print(df_diario.head())

✅ Archivo 'datos_diarios_completos.csv' creado correctamente con medias, mínimos y máximos.
        fecha       variable_mean        variable_min        variable_max  \
0  2024-04-18 2024-04-18 12:00:00 2024-04-18 01:00:00 2024-04-18 23:00:00
1  2024-04-19 2024-04-19 11:30:00 2024-04-19 00:00:00 2024-04-19 23:00:00
2  2024-04-20 2024-04-20 11:30:00 2024-04-20 00:00:00 2024-04-20 23:00:00
3  2024-04-21 2024-04-21 11:30:00 2024-04-21 00:00:00 2024-04-21 23:00:00
4  2024-04-22 2024-04-22 11:30:00 2024-04-22 00:00:00 2024-04-22 23:00:00

   Temperature_mean  Temperature_min  Temperature_max  \
0          5.801550         3.110245         9.010245
1          6.106495         3.090245         7.840245
2          6.278162         4.210246         8.990245
3          4.495245         2.190245         6.240245
4          4.758579         2.440245         7.170245

   Growing Degree Days_mean  Growing Degree Days_min  Growing Degree Days_max  \
0                       0.0                      0.0                      0.0
1                       0.0                      0.0                      0.0
2                       0.0                      0.0                      0.0
3                       0.0                      0.0                      0.0
4                       0.0                      0.0                      0.0

   ...  Cloud Cover Low_max  Sunshine Duration_mean  Sunshine Duration_min  \
0  ...                 85.0               14.468475                    0.0
1  ...                 99.0                0.227273                    0.0
2  ...                 84.0               10.270321                    0.0
3  ...                 96.0               12.959280                    0.0
4  ...                 96.0               11.147629                    0.0

   Sunshine Duration_max  Shortwave Radiation_mean  Shortwave Radiation_min  \
0              42.424244                202.652174                      0.0
1               1.818180                 59.291667                      0.0
2              44.848488                188.583333                      0.0
3              35.757576                195.541667                      0.0
4              39.999996                203.083333                      0.0

   Shortwave Radiation_max  Mean Sea Level Pressure_mean  \
0                    662.0                   1018.765217
1                    176.0                   1018.358333
2                    623.0                   1021.029167
3                    705.0                   1021.037500
4                    637.0                   1020.429167

   Mean Sea Level Pressure_min  Mean Sea Level Pressure_max
0                       1014.2                       1023.4
1                       1014.6                       1023.2
2                       1016.6                       1023.6
3                       1020.2                       1022.8
4                       1019.0                       1022.1

[5 rows x 34 columns]

In [25]:
df_diario.head()

,fecha,variable_mean,variable_min,variable_max,Temperature_mean,Temperature_min,Temperature_max,Growing Degree Days_mean,Growing Degree Days_min,Growing Degree Days_max,...,Cloud Cover Low_max,Sunshine Duration_mean,Sunshine Duration_min,Sunshine Duration_max,Shortwave Radiation_mean,Shortwave Radiation_min,Shortwave Radiation_max,Mean Sea Level Pressure_mean,Mean Sea Level Pressure_min,Mean Sea Level Pressure_max
0,2024-04-18,2024-04-18 12:00:00,2024-04-18 01:00:00,2024-04-18 23:00:00,5.801550,3.110245,9.010245,0.0,0.0,0.0,...,85.0,14.468475,0.0,42.424244,202.652174,0.0,662.0,1018.765217,1014.2,1023.4
1,2024-04-19,2024-04-19 11:30:00,2024-04-19 00:00:00,2024-04-19 23:00:00,6.106495,3.090245,7.840245,0.0,0.0,0.0,...,99.0,0.227273,0.0,1.818180,59.291667,0.0,176.0,1018.358333,1014.6,1023.2
2,2024-04-20,2024-04-20 11:30:00,2024-04-20 00:00:00,2024-04-20 23:00:00,6.278162,4.210246,8.990245,0.0,0.0,0.0,...,84.0,10.270321,0.0,44.848488,188.583333,0.0,623.0,1021.029167,1016.6,1023.6
3,2024-04-21,2024-04-21 11:30:00,2024-04-21 00:00:00,2024-04-21 23:00:00,4.495245,2.190245,6.240245,0.0,0.0,0.0,...,96.0,12.959280,0.0,35.757576,195.541667,0.0,705.0,1021.037500,1020.2,1022.8
4,2024-04-22,2024-04-22 11:30:00,2024-04-22 00:00:00,2024-04-22 23:00:00,4.758579,2.440245,7.170245,0.0,0.0,0.0,...,96.0,11.147629,0.0,39.999996,203.083333,0.0,637.0,1020.429167,1019.0,1022.1

In [26]:
import pandas as pd

# Cargar el dataset original
df = pd.read_csv("datos_diarios_completos.csv")

# --- 1️⃣ Eliminar columnas vacías o sin información útil ---
df = df.drop(columns=["variable_mean", "variable_min", "variable_max"], errors="ignore")

# --- 2️⃣ Filtrar solo las columnas de interés ---
# Nos quedamos con la fecha y las columnas que terminan en "_mean"
cols_to_keep = ["fecha"] + [col for col in df.columns if col.endswith("_mean")]
df_limpio = df[cols_to_keep]

# --- 3️⃣ (Opcional) Renombrar columnas para mayor claridad ---
df_limpio = df_limpio.rename(columns=lambda x: x.replace("_mean", "").strip())

# --- 4️⃣ Guardar el nuevo dataset limpio ---
df_limpio.to_csv("datos_diarios_limpios.csv", index=False)

print("✅ Dataset limpio guardado como 'datos_diarios_limpios.csv'")
print("Columnas finales:")
print(df_limpio.columns.tolist())

✅ Dataset limpio guardado como 'datos_diarios_limpios.csv'
Columnas finales:
['fecha', 'Temperature', 'Growing Degree Days', 'Precipitation Total', 'Wind Gust', 'Cloud Cover High', 'Cloud Cover Medium', 'Cloud Cover Low', 'Sunshine Duration', 'Shortwave Radiation', 'Mean Sea Level Pressure']